.block{
    display:inline-block;
    margin: 10px 8px;
}
button{
    margin: 3px;
    font-size: 18px;
    color: white;
    background-color: rgb(3, 95, 65);
    text-align: center;
    border-radius: 15px;

}
#gifDisplay{
    width: 85%;
}