.block{
    display:inline-block;
    margin: 10px 8px;
}
button{
    margin: 3px;
    font-size: 18px;
    color: white;
    background-color: rgb(3, 95, 65);
    text-align: center;
    border-radius: 15px;
    padding: 3px 12px;

}
#gifDisplay{
    width: 85%;
}
#animateGifs{
    color: rgb(0, 26, 0);
    background-color: rgb(161, 255, 255);
}
#pauseGifs{
    color: red;
    background-color: black;
}
#clearGifs{
    color: black;
    background-color: white;
    border-color: black;
}
form{
    font-size: 18px;
    line-height: 27px;
}
#gifButtons{
    margin-top:10px;
}
p{
    font-size: 24px;
    margin-bottom: 5px;
    margin-left: 15px;
}
#gifNumber, #gifSearchBar{
    margin-left:20px;
}